#feature{
	position: relative;
	height:556px;
	width:100vw;
	text-align: center;
	margin:0 auto 0 auto;
	max-width: 1400px;
}

.feature-bg{
	position: relative;
	background-image: url(../img/manhattan.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 556px;
	max-height: 556px;
}

.content{
	position: relative;
	color:white;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-100%);
	float: left;
	width:40%;
	margin-left:5%;
	text-shadow: 0px 0px 12px #000;
}

.content-detail{
	text-align: center;
}

.content a:link{
	color: #fff !important;
}

.content a:visited{
	color: #fff !important;
}

.content a i:hover{
	color: #c9a16e;
}