.constant-nav {
	position: fixed;
	z-index: 8;
	display: block;
	width: 100vw;
	height: 51px;
	text-align: center;
	background-color: #ffffff;
	border-width: 1px;
	border-color: #ddd;
	border-bottom-style: solid;
	overflow: hidden;
}

.main-title{
	width: 200px;
	height: 51px;
	position: relative;
	display: inline-block;
	padding-top: 8px;
}

.icon-nav-cont{
	width: auto;
	position: absolute;
	display: inline-block; 
	float: right;
	right: 3%;
}

.icon-nav {
	display: inline-block;
	height: 51px;
	width: 51px;
	padding: 18px 20px 0px 20px;
}

.icon-nav:hover{
	border-bottom-style: solid;
	border-bottom-color: #c9a16e;
	border-bottom-width: 3px;
	  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon{
	color:#777;
}

.icon:link{
	text-decoration: none;
	color: inherit;
}

.icon:hover{
	color: #c9a16e;
}

.sneaky-nav {
	display: inline-block;
	position: absolute;
	top:50px;
	width: 100vw;
	height: 51px;
	z-index: 2;
	text-align: center;
	border-width: 1px;
	border-color: #ddd;
	border-bottom-style: solid;
	background-color: white;
}

.sneaky-nav li{
	z-index: 1;
	list-style: none;
	display: inline;
	margin-right: 15px;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: .03em;
	text-transform: uppercase;
}

.sneaky-nav li a:link{
	text-decoration: none;
	color: #444;
}

.sneaky-nav li a:hover{
	color: #c9a16e;
}