@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic);

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body{
	background-color: #f8f8f8;
	margin: 0px;
}

h1{
	color: black;
	font-family: 'Lato';
	font-size: 34px;
	line-height: 34px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
}

h2{
	font-family: 'Lato';
	font-size: 41px;
	line-height: 41px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	font-family: 'Lato';
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 7px;
}

p{
	font-family: 'Lato';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	margin-top: .5em;
	margin-bottom: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.rev {
	color: white;
}

hr{
	margin: 0 0 0 -30px;
	color:#f8f8f8;
	opacity: .5;
}

.clearfix {
  overflow: auto;
}

.page-wrap{
	text-align: center;
}