@media all and (max-width: 1400px){ 
    
  .scroll-nav{
    width:100vw;
  }

  .series-scroll-nav{
    width:100%;
  }

  .flexslider{
    width:100vw;
  }

@media all and (max-width: 801px){
    
  #feature{
    height:355px;
  }

  .feature-bg{
    height:355px;
  }

  h2{
    font-size: 24px;
    line-height: 24px;
  }

  h4{
    font-size: 21px;
    line-height: 21px;
  }

  .sneaky-nav{
    overflow:hidden !important;
  }

  .playbutton{
  margin-top: 30px;
  }

  .series-desc{
  -moz-flex: 0 1 100% !important;
  -webkit-flex: 0 1 100% !important;
  flex: 0 1 100% !important;
  }

@media all and (max-width: 601px){

  #feature{
    height:300px;
    margin-bottom: 35px;
  }

  .feature-bg{
    height:188px;
  }

  h1{
    font-size: 20px;
  }

  .constant-nav{
    text-align: left;
    border-bottom-style: none;
  }

  .main-title{
    margin-left: 70px;
  }

  .icon-nav{
   width: 30px;
   padding: 18px 11px 0px 11px;
  }

  .sneaky-nav{
    display: none;
  }

  .content{
    width:100%;
    margin:0;
    color:black !important;
    text-shadow: none;
  }

a .icons:link{
  color: white !important;
  }

a .icons:visited{
  color: white !important;
  }

  .content-detail a:link{
    color: black !important;
  }

  .content-detail a:visited{
    color: black !important;
  }

  .content-detail a:hover{
    color: black !important;
  }

  .content-detail{
    width:100%;
    position: absolute;
    top:150px;
    padding-bottom: 35px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c9a16e;
  }

  .under-feature-item img{
    width: 100%;
    height: 100%;
  }

  .under-feature-item{
    width:220px;
  }

  #underfeature{
    padding-bottom: 20px;
}

	#underfeature .flexslider ul li p {
	font-size: 12px !important;
	line-height: 16px !important;
	}

  .playbutton{
  margin-top: -20px;
  }

  .series-preview{
    text-align: center !important;
  }

}

@media all and (max-width: 320px){
  
  .scroll-nav{
  	display: none;
  }

  .series-scroll-nav{
    display: none;
  }

  .content-detail{
    padding-top: -50px;
    padding-bottom: 0px;
  }
}